@import "https://unpkg.com/chota@latest";

:root {
    --color-black: #020202;
    --color-white: #fefefe;
    --color-lightGrey: #999;
    --color-grey: #666;
    --color-darkGrey: #0c1117;
    --color-primary: rgba(0,189,125,1);
    --color-error: #d43939;
    --color-success: #28bd14;
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    --font-size: 1.8rem;
    --font-color: var(--color-white);
    --font-family-sans: sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
    --bg-color: var(--color-darkGrey);
    --bg-secondary-color: #f3f3f6;
    font-size: 11px;
}

::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 11px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--color-primary); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--bg-color);
}

hr {
    background-color: var(--color-grey);
    height: 1.5px;
    margin: 2.5rem auto;
    width: 80%;
}

p.small {
    font-size: 1.5rem;
    line-height: 1.4;
}

button:hover {
    opacity: 1;
    filter: contrast(1.2);
}
button,
.button,
[type=submit] {
    color: var(--font-color) !important;
}
.button.outline {
    border-color: var(--font-color) !important;
}

input {
    width: 100px !important;
    color: var(--font-color);
    background: transparent;
    border: 0 !important;
    border-bottom: 1px solid var(--font-color) !important;
    border-radius: 0 !important;
    text-align: center;
}
input:focus {
    width: 150px !important;
    border-width: 2px;
    box-shadow: none !important;
}

.modal {
    height: 90vh;
    width: 50vw;
    overflow: auto;
    padding: 4rem;
    padding-top: 2rem;
    background-color: var(--bg-color) !important;
}
.modal.small {
    height: auto;
    min-height: ;
    width: 30vw;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.slider > * {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    transform: scale(1);
    transform-origin: center center;
    transition: transform 0.5s;
}


.scale:hover,
.scale:focus {
    transform: scale(1.05);
}

.controls {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.controls > button,
.controls > a {
    min-height: 50px;
    text-align: center;
    color: var(--font-color);
}
.controls > button:hover,
.controls > a:hover {
    transform: scale(1.1);
}
.controls img {
    height: 60px;
}


/* utility */

.rel { position: relative }
.abs { position: absolute }
.fixed { position: fixed }
.top { top: 0 }
.bottom { bottom: 0 }
.left { left: 0 }
.right { right: 0 }
.inline { display: inline-block }
.flex { display: flex }
.center { justify-content: center }
.spaced { justify-content: space-evenly }
.wrap { flex-wrap: wrap }
.textc { text-align: center }
.bold { font-weight: 600 }
.m0 { margin: 0 }
.mauto { margin: auto }
.click { cursor: pointer }

/* responsiveness */


@media (max-width: 900px) {

    .modal {
        width: 80vw;
    }

}


@media (max-width: 500px) {

    .modal {
        height: 100vh;
        width: 100vw;
        padding: 1rem 3rem;
    }

}
